*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar{
  font-weight: 800;
  letter-spacing: 0.1em;
  font-size: 1.2rem;
  letter-spacing: 1.5;
  height: 80px;
  background-color: #80b214a2;
  padding: o;
}

.navbar-brand img{
  height: 5rem;
}

.navbar-nav li{
  padding-right: 0.5rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: #f1f1f1;
  height: 80px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: white;
  border-bottom: 8px solid #b7ee42;
  transition: all 0.2s ease-out;
}




.page-footer,
.footer-copyright {
  background-color: #206a5d;
}

.page-footer ul li a {
  font-size: 110%;
  cursor: pointer;
  color: #f1f1f1;
  text-decoration: none;
}
.page-footer ul li a:hover {
  color: #81b214;
}

.footer-copyright {
  color: #81b214;
}

@media screen and (max-width: 425px) {
  .navbar-brand img {
    height: 3rem;
  }
}